:root {
    --color: blue;
    --dialFont: clamp( 10px, 0.93vw ,14px);
    font-family: Helvetica, Arial,  sans-serif;
}

body {
    background-color: #ffffff;
    margin: 0;
}

p, h1, h2 {
    margin: 0;
    padding: 0;
    font-weight: 400;
    font-size: 15px;
    color: var(--color);
    transition: color 300ms;
}

.content{
    width: 100%;
    height: 100dvh;
}
  
.canvas-container {
    position: fixed;
    display: flex;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
}

#canvas {
    width: 100%;
    /* height: 100%; */
    /* object-fit: contain; */
    visibility: hidden;
}

.loading-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--color);
    color: #000000;
    font-size: 2rem;
}

.dial-positioner {
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
}

.dial-container{
    position: relative;
    width: clamp(150px, 15vw, 230px);
    height: clamp(150px, 15vw, 230px);
    font-size: var(--dialFont);
}

.dial{
    position: absolute;
    top: 0;
    left: 0;
    background: var(--color);
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

.indicator{
    position: absolute;
    top: 50%;
    right: 0;
    width: 2em;
    height: 2px;
    background-color: red;
}

.project-number{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: end;
    width: 100%;
    height: 100%;
    font-size: inherit;
    padding-bottom: 0.5em;
    box-sizing: border-box;
}

.site-header {
    max-width: 500px;
    position: fixed;
    z-index: 1;
}

.logo{
    
}

.proxy{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}