:root {
    --color: white;
    font-family: Helvetica, Arial,  sans-serif;
}

body {
    background-color: black;
}

.container {
    position: relative;
    width: fit-content;
    height: 100%;
}

.video-container {
    position: absolute;
    top: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
}

.circle {
    position: relative;
    /* background: conic-gradient(olive, yellow, gold, olive); */
    background-color: var(--color);
    width: 300px;
    height: 300px;
    border-radius: 50%;
}

.proxy{
    top: 0;
    left: 0;
    position: absolute;
    width: 100%;
    height: 100%;
}

.indicator{
    position: absolute;
    top: 50%;
    right: 0;
    width: 50px;
    height: 2px;
    background-color: red;
}

.year{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: end;
    width: 100%;
    height: 100%;
    padding-bottom: 0.5em;
    box-sizing: border-box;
}

.video-background{
    width: 100%;
    position: absolute;
    display: none;
    filter: brightness(0.9); /* might want to remove */
}

.show{
    display: block;
}

.title {
    color: var(--color);
    padding: 0;
    margin: 0;
    font-weight: 400;
    text-transform: uppercase;
}